<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbntelecom.nbnpostemap">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fotosposte" />
        <activity android:name=".MapPoste" />
        <activity android:name=".iluminacao_add" />
        <activity android:name=".ConsultarImagemFull" />
        <activity
            android:name=".FullView"
            android:theme="@style/fullViewTheme" />
        <activity
            android:name=".endereco_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ponto_fixacao_add"/>
        <activity
            android:name=".cruzeta_suporte_add"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Atributos_poste">
        </activity>
        <activity
            android:name=".ZipCodeSearchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Detalhes_poste_consulta" />
        <activity android:name=".ConsultarPoste" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/chave_map" />

        <activity
            android:name=".Cadastro_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Tela2Menu_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Login_Activity">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nbntelecom.nbnpostemap"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>